table {
    width: 100%;
 }

 .green{
    color: green;
    font-size: 2em;
    -webkit-text-stroke: 0.01em black;
 }
 .yellow{
    color: yellow;
    font-size: 2em;
    -webkit-text-stroke: 0.01em black;
 }
 .red{
    color: red;
    font-size: 2em;
    -webkit-text-stroke: 0.01em black;
}